

* {
    margin: 0px;
}

.canvas-div {
    
    flex: 1 0 auto;
    background-color: white;
    gap: 0px; 
    
}


body {
    display: flex;
    flex-direction: column;
    background-color: #E8E9EB;
    margin: 10px;
}


.container {
    
    display: flex;
   width: 500px;
    height: 500px;
    flex-wrap: wrap;
    margin-left: 50%;
    margin-right: 50%;
    justify-content: center;
    
    align-items: center;
    justify-items: center;
     
}



div {
    margin: 0px;
}